.showinfo {
	background-color: #FFFFFF;
	background-image: url(../images/look.JPG);
	background-repeat: repeat;
	background-position: center center;
	margin: 0px;
	padding: 0px;
	height: 22px;
	width: 60px;
	border: 0px solid #FFFFFF;
	cursor: hand;
}
.buy {
	background-color: #FFFFFF;
	background-image: url(../images/looks.JPG);
	background-repeat: repeat;
	background-position: center center;
	margin: 0px;
	padding: 0px;
	height: 22px;
	width: 60px;
	border: 0px solid #FFFFFF;
	cursor: hand;
}
