
<!--
.title {
	text-align:center;
	font-weight: bold;
	font-size: 13px;
}
.content {
	font-size: 12px;
}
.right {
	font-size: 13px;
	text-align: right;
	font-weight: bold;
}
#td {
	text-align: right;
}

-->
