
A:link {
	COLOR: #003399; TEXT-DECORATION: none
}
A:visited {
	COLOR: #003399; TEXT-DECORATION: none
}
A:active {
	COLOR: #003399; TEXT-DECORATION: none
}
A:hover {
	COLOR: #CC3333;TEXT-DECORATION: underline
}
TD,TH {
	FONT-SIZE:12px; COLOR: #003399; FONT-FAMILY:"verdana","Comic Sans","Arial";
}
.buttoncss {
    font-family: "Tahoma", "ו";
    font-size: 9pt; color: #003399;
    border: 1px #003399 solid;
    color:006699;
    BORDER-BOTTOM: #93bee2 1px solid; 
    BORDER-LEFT: #93bee2 1px solid; 
    BORDER-RIGHT: #93bee2 1px solid; 
    BORDER-TOP: #93bee2 1px solid;
    background-color: #e8f4ff;
    CURSOR: hand;
    font-style: normal ;
}

.inputcss {  
    font-size: 9pt; 
    color: #003399; 
    font-family: "ו"; 
    font-style: normal; 	
    border-color: #93BEE2 #93BEE2 #93BEE2 #93BEE2 ; 
    border: 1px #93BEE2 solid; 
}

