.a1:link {
	COLOR: #000000; TEXT-DECORATION: none
}
.a1:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
.a1:active {
	COLOR: #000000; TEXT-DECORATION: none
}
.a1:hover {
	COLOR: red;
}
.a2:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.a2:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.a2:active {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.a2:hover {
	COLOR: red;
}
BODY {
	COLOR: #000000;
}
TD,TH {
	FONT-SIZE:12px; COLOR: #000000;
}
.buttoncss {
    font-family: "Tahoma", "ו";
    font-size: 9pt; color: #003399;
    border: 1px #003399 solid;
    color:006699;
    BORDER-BOTTOM: #93bee2 1px solid; 
    BORDER-LEFT: #93bee2 1px solid; 
    BORDER-RIGHT: #93bee2 1px solid; 
    BORDER-TOP: #93bee2 1px solid;
    background-color: #ffffff;
    CURSOR: hand;
    font-style: normal ;
}

.inputcss {  
    font-size: 9pt; 
    font-family: "ו"; 
    font-style: normal; 	
    
}

.scrollbar{
   SCROLLBAR-FACE-COLOR: #3A85C7; 
   FONT-SIZE: 9pt; 
   SCROLLBAR-HIGHLIGHT-COLOR: #3A85C7; 
   SCROLLBAR-SHADOW-COLOR: #CFD9EC; 
   SCROLLBAR-3DLIGHT-COLOR: #CFD9EC; 
   SCROLLBAR-ARROW-COLOR: #CFD9EC; 
   SCROLLBAR-TRACK-COLOR: #CFD9EC;
   SCROLLBAR-DARKSHADOW-COLOR: #CFD9EC;

 }